---
import UserLayout from "../layouts/UserLayout.astro";
---

<UserLayout title="Certificados">
  <div class="bg-white rounded-3xl shadow-md p-8">
    <h1 class="text-3xl font-bold mb-4">
      Certificados Disponibles
    </h1>

    <p class="text-gray-500">
      Aquí se mostrarán los certificados disponibles.
    </p>
  </div>
</UserLayout>