---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
---

<MainLayout title="Inicio">

<h2>Bienvenido al sistema</h2>

<Button text="Registrarse" />

</MainLayout>
