---
import UserLayout from "../layouts/UserLayout.astro";
---

<UserLayout title="Solicitudes">
  <div class="bg-white rounded-3xl shadow-md p-8">
    <h1 class="text-3xl font-bold mb-4">
      Mis Solicitudes
    </h1>

    <p class="text-gray-500">
      Aquí podrás consultar tus solicitudes.
    </p>
  </div>
</UserLayout>