---
import "../styles/global.css";
import SidebarAdmin from "../components/navigation/SidebarAdmin.astro";

const { title = "Admin" } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>

  <body class="bg-slate-100 min-h-screen">
    <div class="flex">
      <SidebarAdmin />

      <main class="flex-1 p-8">
        <slot />
      </main>
    </div>
  </body>
</html>