---
const { title, value } = Astro.props;
---

<div class="bg-white rounded-2xl shadow-md p-6 border border-gray-100">
  <h3 class="text-gray-500 text-sm font-medium">
    {title}
  </h3>

  <p class="text-4xl font-bold text-slate-800 mt-3">
    {value}
  </p>
</div>